*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.screen{
    height: 100vh;
    display: flex;
}
#screen1{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#screen2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screen2 img{
    width: 100px;
}
#screen2 .images{
    display: flex;
}
#screen3{
    position: relative;
}
#screen3 img{
    width: 40px;
    position: absolute;
}
#screen2 , #screen3{
    display: none;
}